/* ============== Banner and Navbar (common for all pages) ============== */
.topnav .envelope, .entire-page {
  margin: auto;
  width: 1140px;
  position: center;
}

@media screen and (max-width: 1200px) {
  .topnav .envelope, .entire-page {
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .topnav .envelope, .entire-page {
    width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .topnav .envelope, .entire-page {
    width: 540px;
  }
}
@media screen and (max-width: 575px) {
  .topnav .envelope, .entire-page {
    width: 100%;
  }
}
.body {
  background-image: url("../images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
}

.banner {
  padding-top: 5px;
  position: static;
  margin-top: -150px;
  margin-bottom: 90px;
}
.banner img {
  width: 400px;
  height: auto;
  margin-left: -20px;
}

@media screen and (max-width: 575px) {
  .banner a img {
    margin-left: -15px;
  }
}
.topnav {
  background-color: #1c1500;
  overflow: hidden;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  margin-top: 100px;
  width: 100%;
  z-index: 69;
}
.topnav .envelope a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.topnav .envelope a:hover {
  background-color: #523603;
  color: #fde0be;
  transition: 0.5s;
}
.topnav .envelope a.active {
  background-color: #ecdada;
  color: #792808;
}

@media screen and (max-width: 645px) {
  .banner a img {
    width: 350px;
  }

  .topnav a {
    font-size: 15px;
  }
}
/* ====================== index.html ==================== */
.container {
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: rgba(255, 247, 219, 0.75);
  border: solid 1px white;
  float: center;
}
.container h2 {
  padding-top: 20px;
  color: black;
  font-weight: bold;
}
.container p {
  color: black;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

#demo {
  margin: auto;
  width: inherit;
  border: solid 1px white;
  margin-bottom: 30px;
}

.carousel-inner .carousel-item img {
  float: center;
  width: inherit;
  height: auto;
}

/* ====================== about.html ==================== */
.container .row {
  padding-top: 30px;
  margin: auto;
}
.container .row .col-sm {
  margin: 10px;
  border: solid 2px black;
}
.container .row .col-sm h3 {
  text-align: center;
}
.container .row .col-sm p {
  text-align: left;
  font-style: italic;
}
.container .row .col-sm p ul {
  text-align: left;
}

/* ====================== buy_now.html ==================== */
.container {
  padding-bottom: 30px;
}
.container table {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.container table th {
  font-size: 20px;
  padding: 15px;
  border: solid 1px black;
  background-color: rgba(250, 250, 210, 0.75);
}
.container table td {
  font-size: 20px;
  border: solid 1px black;
  padding: 15px;
}
.container table td a {
  color: black;
  text-decoration: none;
}
.container table td a:hover {
  color: red;
}
.container table td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 200px;
}

/* ====================== contact.html ==================== */

/*# sourceMappingURL=style.css.map */
